<%= form_for @user do |f| %>
<!--<%= #form_for(:session,url: signin_path) do |f| %>-->
NOT HIT
  <% if @user.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    </ul>
      <% end %>
  <% end %>
  <table>
    <tr><td><%= f.label :name %> :
    <%= f.text_field :name %></td></tr>
    <tr><td> </td></tr>
    <tr><td> </td></tr>
    <tr><td><%= f.label :email %> :
    <%= f.text_field :email %></td></tr>
    <tr><td> </td></tr>
    <tr><td> </td></tr>
    <tr><td><%= f.label :password %> :
    <%= f.text_field :password %></td></tr>
    <tr><td> </td></tr>
    <tr><td> </td></tr>
    <tr><td><%= f.submit %></td></tr>
  </table>
  <% end %>
  <!--<a href='/users'>Back</a>-->

  PRIOR CODE
<%= form_for @user do |f| %>
  <%= f.label :name %>:<br />
  <%= f.text_field :name %><br />
  <%= f.label :email %><br />
  <%= f.text_field :email %><br />
  <%= f.label :password %>:<br />
  <%= f.text_field :password %><br />

  <%= f.submit %><br />
<% end %>
