<h2>Sign in Page</h2>

<%= form_for @user do |f| %>
  <p><%= f.label :name %>:</p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :password %>:</p>
  <p><%= f.text_field :password %></p>
  <p><%= f.submit 'Log In'%></p>
<% end %>
