<h2>Sign in Page</h2>

<%= form_for @user do |f| %>
<table>
  <tr><td><%= f.label :name %>:</td></tr>
  <tr><td><%= f.text_field :name %></td></tr>
  <tr><td><%= f.label :password %>:</td></tr>
  <tr><td><%= f.text_field :password %></td></tr>
  <tr><td><%= f.submit 'Log In'%></p>
</table>
<% end %>
<table>
  <tr><td> New user? <%= link_to "Sign up now!", new_user_path %> </td></tr>
</table>
