<%= form_for @user do |f| %>
  <div class=”field”>
    <%= f.label :name %> :
    <%= f.text_field :name %><br><br>
  </div>
  <div class=”field”>
  <%= f.label :email %> :
  <%= f.text_field :email %><br><br>
  </div>
  <div class=”field”>
  <%= f.label :password %> :
  <%= f.text_field :password %><br><br>
  </div>
  <%= f.submit %>
<% end %>
  <a href='/users'>Back</a>
