<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    </ul>
      <% end %>
  <% end %>
  <div class=”field”>
    <%= f.label :name %> :
    <%= f.text_field :name %><br><br>
  </div>
  <div class=”field”>
  <%= f.label :email %> :
  <%= f.text_field :email %><br><br>
  </div>
  <div class=”field”>
  <%= f.label :password %> :
  <%= f.text_field :password %><br><br>
  </div>
  <%= f.submit %>
<% end %>
  <!--<a href='/users'>Back</a>-->
