<h3><%= @user.name %> Menu</h3>
<%= @message %>

<p><%= link_to "Training Sessions Index", training_sessions_path %></p>
<p><%= link_to "Show a Training Session", training_session_path %></p>
<p><%= link_to "Create a New Training Session", new_training_session_path %></p>
<p><%= link_to "Edit a Training Session", edit_training_session_path %></p>
<p><%= button_to "Log Out", logout_path, method: :delete %></p>
