<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        </ul>
   <% end %>
<table>
  <tr><td><strong>Name :</strong> <%= f.text_field :name, list: "name_autocomplete" %>
      <datalist id="name_autocomplete">
        <% Client.all.each do |client| %>
          <option value="<%= client.name %>">
        <% end %>
      </datalist></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :email %> :</strong>
    <%= f.text_field :email %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :home_address %> :</strong>
    <%= f.text_field :home_address %></td></tr>
    <tr><td> </td></tr>

        <tr><td><strong><%= f.label :home_phone %> :</strong>
    <%= f.text_field :home_phone %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :work_address %> :</strong>
    <%= f.text_field :work_address %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :work_phone %> :</strong>
    <%= f.text_field :work_phone %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :smart_phone %> :</strong>
    <%= f.text_field :smart_phone %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.submit %></td></tr>
    <tr><td> </td></tr>
  </table>
<% end %>



  <!--<a href='/users'>Back</a>-->
