<h2>Edit Client Page</h2>
<%= form_for @client do |f| %>
  <table>
    <tr><td>Client : <%= f.text_field :name, list: "name_autocomplete" %>
      <datalist id="client_name_autocomplete">
        <% Client.all.each do |client| %>
          <option value="<%= client.name %>">
        <% end %>
      </datalist></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :email %> :
    <%= f.text_field :email %></td></tr>
    <tr><td> </td></tr>
    <tr><td><%= f.label :home_address %> :
    <%= f.text_field :home_address %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :home_phone %> :
    <%= f.text_field :home_phone %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :work_address %> :
    <%= f.text_field :work_address %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :work_phone %> :
    <%= f.text_field :work_phone %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.submit %></td></tr>
    <tr><td> </td></tr>
  </table>
<% end %>
