<table>
  <tr><td><strong>Name:</strong> <%= @client.name %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Email:</strong> <%= @client.email %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Home Adress:</strong> <%= @client.home_address %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Home Phone:</strong> <%= @client.home_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Work Address:</strong> <%= @client.work_address %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Work Phone:</strong> <%= @client.work_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Smart Phone:</strong> <%= @client.smart_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td> </td></tr>
  <tr><td><%= link_to client_training_sessions_path(@client) do %>
    <strong><%= @client.name %></strong> <span>Training Sessions</span>
  <% end %></td></tr>
  <tr><td> </td></tr>

  <tr><td> </td></tr>
  <tr><td><%= link_to new_client_training_session_path(@client) do %>
    <span>Create New Training Session for </span><strong><%= @client.name %></strong> 
  <% end %></td></tr>
  <tr><td> </td></tr>

  <tr><td><%= button_to "Delete Client", client_path, :method=>"delete", :class=>"destroy" %></td></tr>
  <tr><td> </td></tr>
</table>

<table>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Trainer's Main Menu", user_path(current_user), :class => current_class?(@user) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Edit Client", edit_client_path(@client) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Client Index", clients_path %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= button_to "Log Out", logout_path, method: :delete %></td></tr>
  <tr><td> </td></tr>
</table>
