<table>
  <tr><td>Name: <%= @client.name %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Email : <%= @client.email %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Home Adress: <%= @client.home_address %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Home Phone: <%= @client.home_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Work Address: <%= @client.work_address %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Work Phone: <%= @client.work_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td>Smart Phone: <%= @client.smart_phone %></td></tr>
  <tr><td> </td></tr>

  <tr><td> </td></tr>
  <tr><td><%= link_to client_training_sessions_path(@client) do %>
    <strong><%= @client.name %></strong> <span>Training Sessions</span>
  <% end %></td></tr>
  <tr><td> </td></tr>

  <tr><td> </td></tr>
  <tr><td><%= link_to new_client_training_session_path(@client) do %>
    <strong><span>Create New Training Session for </span><%= @client.name %></strong> 
  <% end %></td></tr>
  <tr><td> </td></tr>

  <tr><td><%= button_to "Delete Client", client_path, :method=>"delete", :class=>"destroy" %></td></tr>
  <tr><td> </td></tr>
</table>

<table>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Trainer's Main Menu", user_path(current_user), :class => current_class?(@user) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Edit Client", edit_client_path(@client) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Client Index", clients_path %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= button_to "Log Out", logout_path, method: :delete %></td></tr>
  <tr><td> </td></tr>
</table>
