<%= form_for @training_session do |f| %>
  <% if @training_session.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @training_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        </ul>
      <%= client_id_field(@training_session) %>
      
   <% end %>
  <table>
    <tr><td>(Day-Month-Year) <strong><%= f.label :date  %> :</strong>
    <%= f.text_field :date %></td></tr>
    <tr><td> </td></tr>

  <tr><td><strong>Client :</strong> <%= f.text_field :client_name, list: "client_name_autocomplete" %>
      <datalist id="client_name_autocomplete">
        <% Client.all.each do |client| %>
          <option value="<%= client.name %>">
        <% end %>
      </datalist></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :start_time %> :</strong>
    <%= f.text_field :start_time %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :end_time %> :</strong>
    <%= f.text_field :end_time %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong>Location :</strong> <%= f.text_field :location, list: "location_autocomplete" %>
        <datalist id="location_autocomplete">
          <% TrainingSession.all.each do |training_session| %>
            <option value="<%= training_session.location %>">
          <% end %>
        </datalist></td></tr>
      <tr><td> </td></tr>

    <tr><td><strong><%= f.label :booked_status %> :</strong>
    <%= f.text_field :booked_status %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.submit %></td></tr>
    <tr><td> </td></tr>
  </table>
<% end %>



  <!--<a href='/users'>Back</a>-->
