<%= form_for @training_session.new do |f| %>
  <table>
    <tr><td><%= f.label :date %> :
    <%= f.text_field :date %></td></tr>
    <tr><td> </td></tr>

    <tr><td>Client : <%= f.text_field :client_name, list: "client_name_autocomplete" %>   <!--<%= f.text_field :client_name, list: "clients_autocomplete" %>-->
      <datalist id="client_name_autocomplete"> <!--<datalist id="clients_autocomplete">-->
        <% Client.all.each do |client| %>
          <option value="<%= client.name %>">
        <% end %>
      </datalist></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :start_time %> :
    <%= f.text_field :start_time %></td></tr>
    <tr><td> </td></tr>
    <tr><td><%= f.label :end_time %> :
    <%= f.text_field :end_time %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :location %> :
    <%= f.text_field :location %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.label :booked_status %> :
    <%= f.text_field :booked_status %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.submit %></td></tr>
    <tr><td> </td></tr>
  </table>
<% end %>



  <!--<a href='/users'>Back</a>-->
