<h2>Edit Training Session Page</h2>
<%= form_for @training_session do |f| %>
  <% if @training_session.errors.any? %>
    <h2>Errors</h2>
    <ul>
      <% @training_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        </ul>
   <% end %>
  <table>
    <tr><td><strong><%= f.label :date %> :</strong>
    <%= f.text_field :date, value: @training_session.date.strftime("%B %d, %Y") %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong>Client :</strong> <%= f.text_field :client_name, list: "client_name_autocomplete" %>
      <datalist id="client_name_autocomplete">
        <% Client.all.each do |client| %>
          <option value="<%= client.name %>">
        <% end %>
      </datalist></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :start_time %> :</strong>
    <%= f.text_field :start_time, value: @training_session.start_time.strftime("%l:%M %p") %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :end_time %> :</strong>
    <%= f.text_field :end_time, value: @training_session.start_time.strftime("%l:%M %p") %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :location %> :</strong>
    <%= f.text_field :location %></td></tr>
    <tr><td> </td></tr>

    <tr><td><strong><%= f.label :booked_status %> :</strong>
    <%= f.text_field :booked_status %></td></tr>
    <tr><td> </td></tr>

    <tr><td><%= f.submit %></td></tr>
    <tr><td> </td></tr>
  </table>
<% end %>
