<h2>Training Sessions Index Page</h2>
  <% @training_sessions.each do |training_session| %>
    
<table>
  <tr><td></td></tr>
    <tr><td><%= link_to " #{training_session.date}", training_session_path(training_session) %></td></tr>
  <tr><td></td></tr>
    <% end %>
</table>


<table>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td>
<%= form_tag('/training_sessions', method: :get) do %>
  Training Sessions Time of Day: <%= select_tag "time", "<option>AM</option><option>PM</option>".html_safe %>
  <div><%= submit_tag 'Filter' %></div>
<% end %>
</td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
</table>




<table>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Trainer's Main Menu", user_path(current_user), :class => current_class?(@user) %></td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "New Training Session", new_training_session_path %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= button_to "Log Out", logout_path, method: :delete %></td></tr>
  <tr><td> </td></tr>
</table>
