<table>
  <tr><td>Date: </td><td><%= @training_session.date %></td></tr>
  <tr><td> </td></tr>
  <tr><td>Start time: </td><td><%= @training_session.start_time %></td></tr>
  <tr><td> </td></tr>
  <tr><td>End time: </td><td><%= @training_session.end_time %></td></tr>
  <tr><td> </td></tr>
  <tr><td>Location: </td><td><%= @training_session.location %></td></tr>
</table>
<table>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Edit Training Session", edit_training_session_path(@training_session) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "New Training Session", new_training_session_path %></td></tr>
  <tr><td><%= link_to "Training Sessions Index", training_sessions_path %></td></tr>
</table>
