<table>
  <tr><td><strong>Date:</strong> <%= @training_session.date.strftime("%B %d, %Y")%></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Client:</strong> <%= link_to "#{@training_session.client_name}", client_path(@training_session.client.id) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><strong>Start time:</strong> <%= @training_session.start_time.strftime("%l:%M %p") %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>End time:</strong> <%= @training_session.end_time.strftime("%l:%M %p") %></td></tr>
  <tr><td> </td></tr>

  <tr><td><strong>Location:</strong> <%= @training_session.location %></td></tr>
  <tr><td> </td></tr>

  <tr><td><%= button_to "Cancel Training Session", training_session_path, :method=>"delete", :class=>"destroy" %></td></tr>
  <tr><td> </td></tr>
</table>

<table>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Edit Training Session", edit_training_session_path(@training_session) %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "New Training Session", new_training_session_path %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= link_to "Training Sessions Index", training_sessions_path %></td></tr>
  <tr><td> </td></tr>
  <tr><td><%= button_to "Log Out", logout_path, method: :delete %></td></tr>
  <tr><td> </td></tr>
</table>
