<div class=”field”>
<%= f.label :first_name %><br>
<%= f.text_field :first_name %>
</div>
<div class=”field”>
  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %>
</div>
<div class=”field”>
  <%= f.label :specialty %><br>
  <%= f.text_field :specialty %>
</div>
<div class=”field”>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
</div>
</div>
<div class=”field”>
  <%= f.label :bio %><br>
  <%= f.text_field :bio %>
</div>
<div class=”actions”>
<%= f.submit %>
</div>
