<% @trainers.each do |trainer| %>
  <div "trainer>"<%= trainer.name %></div>
  <% if current_user.admin? %>
    <div "New_Trainer_link"><%= link_to "New Trainer", new_trainer_path %></div>

  <% else %>
  <div "trainer_link"><%= link_to "Show #{trainer.name}", trainers_path(trainers) %></div>
    <!--<div "trainer_link"><%= link_to "Show #{trainer.name}", trainer_path(trainer) %></div>--> <!-- use |trainer|-->
  <%end %>
<% end %>
<!--<h1>Trainer's List</h1>-->
<!--<%= link_to @trainer.name, trainer_path(@trainer.trainer_id) %>-->
<!--<%= form_for(@trainer) do |f| %>-->
    <!--  <%= f.text_field :name, :class => "new-trainer's-name" %>-->
      <!--<%= f.submit :style => "display: none" %>-->
    <!--<% end %>-->
    <!--<% @trainers.each do |trainer| %>-->
          <!--<li>-->
            <!--<div class="view">-->
              <!--<label><%= link_to trainer.name, trainer_path(trainer) %></label>-->
    <!--<% end %>-->
